<kendo-appbar position="top">
    <kendo-appbar-section>
        <h1>Fake StackOverflow</h1>
    </kendo-appbar-section>
    <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

    <kendo-appbar-section>
        <button kendoButton size="large" fillMode="flat" routerLink="questions" class="nav-button">Questions</button>
        <kendo-appbar-spacer width="4px"></kendo-appbar-spacer>
        <button kendoButton fillMode="flat" routerLink="askQuestion" class="nav-button">Ask a Question</button>

    </kendo-appbar-section>
</kendo-appbar>
