<nav class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="questions">Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">Tags??</a>
            </li>
        </ul>
    </div>
</nav>
