<div *ngIf="question && !isLoading">
    <table class="table">
        <thead>
            <tr>
                <th>{{question.title}}</th>
                <th>
                    {{answerList.length}} Answer(s)
                    <button kendoButton themeColor="primary" fillMode="outline" [routerLink]="answerRoute" >Add Answer</button>
                </th>
            </tr>    
        </thead>
        <tbody>
            <td class="text">{{question.text}}</td>
            <td class="info">
                Answered By: {{question.askedBy}}
                <br>
                Answered At: {{question.askedAt}}
            </td>
        </tbody>
    </table>
    
    <table class="table" *ngIf="answerList.length">
        <thead>
            <tr>
                <th class="text">Text</th>
                <th class="info">Info</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let ans of answerList">
                <td class="text">{{ans.text}}</td>
                <td class="info">
                    Answered By: {{ans.ansBy}}
                    <br>
                    Answered At: {{ans.ansAt}}
                </td>
            </tr>    
        </tbody>
    </table>
</div>

<div *ngIf="!question && !isLoading">
    This question does not exist.
</div>

<kendo-loader
  *ngIf="isLoading"
  class="centered"
  type="infinite-spinner"
  themeColor="primary"
  size="large">
</kendo-loader>
