<form [formGroup]="questionForm" (ngSubmit)="onSubmit()" id="questionForm" class="k-form">
    <kendo-formfield>
        <kendo-label [for]="title" text="Title"></kendo-label>
        <kendo-textbox
          formControlName="title"
          [clearButton]="true"
          #title
          required
        ></kendo-textbox>

        <kendo-formerror>Error: Title must contain between {{TITLE_MIN_LEN}} and {{TITLE_MAX_LEN}} characters.</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-label [for]="text" text="Text"></kendo-label>
        <kendo-textarea
          formControlName="text"
          #text
          required
        ></kendo-textarea>

        <kendo-formerror>Error: Text must contain between {{TEXT_MIN_LEN}} and {{TEXT_MAX_LEN}} characters.</kendo-formerror>
    </kendo-formfield>
    
    <br>    
    <div class="k-form-buttons">
        <button kendoButton themeColor="primary" (click)="onSubmit()" [disabled]="serverProcessing">
          Submit
        </button>
    </div>
</form>